/*
* A.mphibio.us demo site theme V1.0.1
* Copyright 2013, @cliveMoore @Treefrog
* http://a.mphibio.us
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 04/11/2013
================================================== */


/* Link-o-matic theme overrides
================================================== */

a, 
a:visited
{
	color: #0081c6;
	text-decoration: none;
	outline: 0;
}

.active a, .
a:hover,
a:focus
{
	color: #b2bb1e;
}

p a,
p a:visited
{
	line-height: inherit;
}

/* Site Styles
================================================== */

* html body,
html,
body
{
	/* These styles are handy for making sticky footers
	/* Feel free to delete these if you really want */
	height: 100%;
	min-height: 100%;
}

body
{
	background: #fff url(../images/bgs/tiny_grid.png) 0 0 repeat;
	color: #4d4d4d;
}

/* Theme Helper rules
================================================== */
.whtt,
.orgt
{
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
.orgt
{
	color: #f6921e;
}
.dgryt
{
	color: #4d4d4d;
}
.bgwht
{
	background: #fff;
}
.bgorg
{
	background: #f6921e;
}

.bxshw
{
	box-shadow: 
		rgba(0,0,0,.2)0 0 10px,
		rgba(0,0,0,.4)0 0 5px,
		rgba(0,0,0,.6)0 0 2px;
}

/* Layout Helper rules
================================================== */

#core,
#grid,
#responsive_col,
#fluid_col,
#padded_col,
#golden_section,
#push_pull,
#typography,
#forms,
#multi_forms,
#tables,
#navigation,
#horizcss,
#breadcrumbs,
#tabmagic,
#pagination,
#mediaQueries
{
	padding-top: 30px;
}

/* Typography
/* These are additional styles for this site only
/* sizes and line-heights etc, inherited from core
/* Using proportional font sizes for proper cascade
================================================== */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
	font-weight: inherit; 
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2em; 
}

h4 {
	font-size: 1.6em;
}

h5,
.intro 
{
	/* Often used for as you can imagine some call out text */
	font-size: 1.3em;
}

h6
{
	font-size: 1.1em;
	font-weight: bold; 
}

.adot
{ 
	color:#fff;
	background-color: #f6921e; 
	background-image:
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0,#ca7819),
			color-stop(1,#f6921e)
		);
	background-image:
		-o-linear-gradient(
			top,
			#ca7819,
			#f6921e;
		);
	background-image:
		-moz-linear-gradient(
			top,
			#ca7819,
			#f6921e
			); 
	background-image:
		linear-gradient(
			top,
			#ca7819,
			#f6921e;
		);
}

h2 .adot
{
	text-shadow:
		rgba(0,0,0,0.4) 0 -1px 0 !important;
}


/* Navigation Styles
================================================== */
#download_button
{
	z-index: 1010;
}
#to_top
{
	position: fixed;
	height: .6em;
	right: 0;
	bottom:0;
	color: #fff;
	background: transparent;
	text-shadow: 0 1px 0 #fff;
	text-shadow: 
		0 1px 0 rgba(255,255,255,.8), 
		0 -1px 0 rgba(0,0,0,.6);
	font-size:6em;
	line-height: .5em;
	z-index: 1011;
}
#to_top,
.more
{
	-webkit-transition: all 0.3s ease-out; 
	   -moz-transition: all 0.3s ease-out; 
	     -o-transition: all 0.3s ease-out; 
	        transition: all 0.3s ease-out; 
}
#to_top
{
	opacity: 0.6;
}
.more
{
	opacity: 0.6;
}

#to_top:hover
{
	opacity: 1;
}
.more:hover
{
	opacity: 1;
}
#nav
{
	list-style: none;
	position: fixed;
	top:20px;
	right: 20px;
	z-index: 500;
}

#nav li
{
	margin: 0 0 15px 0;
	opacity: 0.9;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


#nav li:hover
{
	opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; 
}

.morenav
{
	display: none;
}

#navbar
{
	background: #4d4d4d;
	background: rgba(0,0,0,0.8);
	
	-webkit-transition: all 0.3s ease-out; 
	   -moz-transition: all 0.3s ease-out; 
	     -o-transition: all 0.3s ease-out; 
	        transition: all 0.3s ease-out; 
}

#navbar:hover,
#navbar:focus
{
	background: #888;
	background: rgba(0,0,0,1);
}

#navbar.f,
#navbar.b
{
	z-index: 1006;
}


#amp_overlay
{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	background: rgba(255,255,255,0.8);
	z-index: 1010;
}

#disqus_thread
{
	width: 71.4285%;
	margin: 5% auto;
}

#forkme
{
	position: fixed;
	top: 30px;
	left: 0;
	border: 0;
	z-index: 1005;
}

#forkme:hover
{
	z-index: 1008;
}

/* Grid */
.example-grid .col
{
	background: #efefef;
	background: rgba(0,0,0,.1);
	min-height: 25px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.example-grid .col:hover
{
	background: #fefefe;
	background: rgba(0,129,198,.1);
}

.example-grid
{
	overflow: hidden;
}

.col.match
{
	height: 580px;
	vertical-align: bottom
}
.col.match .col.two,
.col.match .col.four,
.col.match .col.six
{
	height: 340px;
	margin-top: 216px;
	bottom: 100%;
}


/* Nav-o-matic
================================================== */

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
pre ol,
pre ol>li
{
margin-bottom: 0;
}
ol.linenums {
display: block;
list-style-type: decimal;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 2em;
margin: 0 0 0 1em;
}
ol.linenums li 
{
	border-left: 1px solid gold;
}

.glyph
{
	float: left;
	width: 210px;
	margin-right: 10px;
}
.glyph input
{
	width: 4em;
	background: transparent;
	float: left;
}
.glyph input.unitRight
{
	font-family: entypo;
	width: 2em;
	text-align: right;
}

.glyph:nth-child(4n)
{
	margin-right: 0;
}

.glyph .hidden-true
{
	display: none;
}

/* Nav-o-matic
================================================== */

.navbar
{
	margin-bottom:18px;
}

.navbar-inner
{
	padding-right:20px;
	padding-left:20px;
	background-color:#0080c6;
	border-top: 1px solid #005583;
	border-bottom: 1px solid #003b5c;
/*
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#0080c6),to(#005583));
	background-image:-webkit-linear-gradient(top,#0080c6,#005583);
	background-image:   -moz-linear-gradient(top,#0080c6,#005583);
	background-image:    -ms-linear-gradient(top,#0080c6,#005583);
	background-image:	  -o-linear-gradient(top,#0080c6,#005583);
	background-image: linear-gradient(top,#0080c6,#005583);
	
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0080c6',endColorstr='#005583',GradientType=0);
	
	-webkit-box-shadow:
		0 1px 3px rgba(0,0,0,0.25),
		inset 0 0 2px rgba(255,255,255,.4),
		inset 0 -1px 0 rgba(0,0,0,0.1), 
		0 2px 4px rgba(0,0,0,.4);
	-moz-box-shadow:
		0 1px 3px rgba(0,0,0,0.25),
		inset 0 -1px 0 rgba(0,0,0,0.1),
		0 2px 4px rgba(0,0,0,.4);
	box-shadow:
		0 1px 3px rgba(0,0,0,0.25),
		inset 0 0 2px rgba(255,255,255,.4),
		inset 0 -1px 0 rgba(0,0,0,0.1), 
		0 2px 4px rgba(0,0,0,.4);
*/
}


#amp_footer
{
	font-size: .865em;
	padding:.325em 1.25em .625em 1.25em;
	margin-top: 1.25em;
}

/* Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px)
	{
		.example-grid .col
		{
			margin-bottom: 5px;
		}
		.col.match,
		.col.match .col.two,
		.col.match .col.four,
		.col.match .col.six
		{
			height: auto;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#forkme /* Kill it before it grows */
		{
			display: none;
			visibility: hidden;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	}