/* ==========================================================================
   13. General Modals
   ========================================================================== */

.modal_overlay {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index:9999;
    background-color: #efefef;
    background-color: rgba(255,255,255,0.5);
    overflow: auto;
}

.modal_overlay.show
{
    display: block;
}

.modal_overlay .modal
{
    background:#FFF;
    border-radius: 6px;
    box-shadow: 0 0 12px #555;
    box-shadow: rgba(0,0,0,.4) 0 0 12px;
    margin:1em auto;
    position:relative;
    min-width:500px;
    min-height:200px;
    width: 90%;
    max-width: 940px;
    *height:500px;
    overflow:auto;
    z-index:99999;
    margin-top: 15%;
}

.modal_overlay .modal.medium
{
    width: 60%;
}

.modal_overlay .modal.small
{
    width: 30%;
}

.modal_overlay .modal header,
.modal_overlay .modal section,
.modal_overlay .modal footer
{
    padding:10px 20px;
}

.modal_overlay .modal header
{
    background-color: #d5d5d5;
    background-image: linear-gradient(to bottom, #ebebeb, #d5d5d5);
}

.modal_overlay .modal footer
{
    position: absolute;
    bottom: 0;
}

.modal_overlay .modal header h3
{
    margin: 0;
}

.focus
{
    -webkit-filter: blur(0);
    filter: none;
    opacity: 1;
    transition: all 600ms ease-out;
}

.focus.blur
{
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.9;
    transition: all 400ms ease-in;
}
