.container
{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.col
{
	display:inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}



.push_one, .pull_one,
.push_two, .pull_two,
.push_three, .pull_four,
.push_five, .pull_five,
.push_six, .pull_six,
.push_seven, .pull_seven,
.push_eight, .pull_eight,
.push_nine, .pull_nine,
.push_ten, .pull_ten,
.push_eleven, .pull_eleven,
.push_twelve, .pull_twelve,
.push_thirteen, .pull_thirteen,
.push_fourteen, .pull_fourteen,
.push_fifteen, .pull_fifteen,
.push_sixteen, .pull_sixteen,
.push_seventeen, .pull_seventeen,
.push_eigthteen, .pull_eigthteen,
.push_nineteen, .pull_nineteen,
.push_twenty, .pull_twenty,
.push_twenty_one, .pull_twenty_one,
.push_twenty_two, .pull_twenty_two,
.push_twenty_three, .pull_twenty_three,
.push_twenty_four, .pull_twenty_four {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.first {
	margin-left: 0;
}

.last {
	margin-right: 0;
}

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container .col.one {
	width:2.167%;
}

.container .col.two {
	width:6.333%;
}

.container .col.three {
	width:10.5%;
}

.container .col.four {
	width:14.667%;
}

.container .col.five {
	width:18.833%
}

.container .col.six {
	width:23.0%;
}

.container .col.seven {
	width:27.167%;
}

.container .col.eight {
	width:31.333%;
}

.container .col.nine {
	width:35.5%;
}

.container .col.ten {
	width:39.667%;
}

.container .col.eleven {
	width:43.833%;
}

.container .col.twelve {
	width:48.0%;
}

.container .col.thirteen {
	width:52.167%;
}

.container .col.fourteen {
	width:56.333%;
}

.container .col.fifteen {
	width:60.5%;
}

.container .col.sixteen {
	width:64.667%;
}

.container .col.seventeen {
	width:68.833%;
}

.container .col.eighteen {
	width:73.0%;
}

.container .col.nineteen {
	width:77.167%;
}

.container .col.twenty {
	width:81.333%;
}

.container .col.twenty_one {
	width:85.5%;
}

.container .col.twenty_two {
	width:89.667%;
}

.container .col.twenty_three {
	width:93.833%;
}

.container .col.twenty_four {
	width:98.0%;
}




/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container .prefix_one {
	padding-left:4.167%;
}

.container .prefix_two {
	padding-left:8.333%;
}

.container .prefix_three {
	padding-left:12.5%;
}

.container .prefix_four {
	padding-left:16.667%;
}

.container .prefix_five {
	padding-left:20.833%;
}

.container .prefix_six {
	padding-left:25.0%;
}

.container .prefix_seven {
	padding-left:29.167%;
}

.container .prefix_eight {
	padding-left:33.333%;
}

.container .prefix_nine {
	padding-left:37.5%;
}

.container .prefix_ten {
	padding-left:41.667%;
}

.container .prefix_eleven {
	padding-left:45.833%;
}

.container .prefix_twelve {
	padding-left:50.0%;
}

.container .prefix_thirteen {
	padding-left:54.167%;
}

.container .prefix_fourteen {
	padding-left:58.333%;
}

.container .prefix_fifteen {
	padding-left:62.5%;
}

.container .prefix_sixteen {
	padding-left:66.667%;
}

.container .prefix_seventeen {
	padding-left:70.833%;
}

.container .prefix_eigthteen {
	padding-left:75%;
}

.container .prefix_nineteen {
	padding-left:79.167%;
}

.container .prefix_twenty {
	padding-left:83.333%;
}

.container .prefix_twenty_one {
	padding-left:87.5%;
}

.container .prefix_twenty_two {
	padding-left:91.667%;
}

.container .prefix_twenty_three {
	padding-left:95.833%;
}



/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container .suffix_one {
	padding-right:4.167%;
}

.container .suffix_two {
	padding-right:8.333%;
}

.container .suffix_three {
	padding-right:12.5%;
}

.container .suffix_four {
	padding-right: 16.667%;
}

.container .suffix_five {
	padding-right: 20.833%;
}

.container .suffix_six {
	padding-right: 25.0%;
}

.container .suffix_seven {
	padding-right: 29.167%;
}

.container .suffix_eight {
	padding-right:33.333%;
}

.container .suffix_nine {
	padding-right:37.5%;
}

.container .suffix_ten {
	padding-right: 41.667%;
}

.container .suffix_eleven {
	padding-right:45.833%;
}

.container .suffix_twelve {
	padding-right:50.0%;
}

.container .suffix_thirteen {
	padding-right:54.167%;
}

.container .suffix_fourteen {
	padding-right:58.333%;
}

.container .suffix_fifteen {
	padding-right:62.5%;
}

.container .suffix_sixteen {
	padding-right:66.667%;
}

.container .suffix_seventeen {
	padding-right:70.833%;
}

.container .suffix_eigthteen {
	padding-right:75%;
}

.container .suffix_nineteen {
	padding-right:79.167%;
}

.container .suffix_twenty {
	padding-right:83.333%;
}

.container .suffix_twenty_one {
	padding-right:87.5%;
}

.container .suffix_twenty_two {
	padding-right:91.667%;
}

.container .suffix_twenty_three {
	padding-right:95.833%;
}



/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container .push_one {
	left:4.167%;
}

.container .push_two {
	left:8.333%;
}

.container .push_three {
	left:12.5%;
}

.container .push_four {
	left: 16.667%;
}

.container .push_five {
	left: 20.833%;
}

.container .push_six {
	left: 25.0%;
}

.container .push_seven {
	left: 29.167%;
}

.container .push_eight {
	left:33.333%;
}

.container .push_nine {
	left:37.5%;
}

.container .push_ten {
	left: 41.667%;
}

.container .push_eleven {
	left:45.833%;
}

.container .push_twelve {
	left:50.0%;
}

.container .push_thirteen {
	left:54.167%;
}

.container .push_fourteen {
	left:58.333%;
}

.container .push_fifteen {
	left:62.5%;
}

.container .push_sixteen {
	left:66.667%;
}

.container .push_seventeen {
	left:70.833%;
}

.container .push_eigthteen {
	left:75%;
}

.container .push_nineteen {
	left:79.167%;
}

.container .push_twenty {
	left:83.333%;
}

.container .push_twenty_one {
	left:87.5%;
}

.container .push_twenty_two {
	left:91.667%;
}

.container .push_twenty_three {
	left:95.833%;
}



/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.container .pull_one {
	left:-4.167%;
}

.container .pull_two {
	left:-8.333%;
}

.container .pull_three {
	left:-12.5%;
}

.container .pull_four {
	left: -16.667%;
}

.container .pull_five {
	left: -20.833%;
}

.container .pull_six {
	left:-25.0%;
}

.container .pull_seven {
	left: -29.167%;
}

.container .pull_eight {
	left:-33.333%;
}

.container .pull_nine {
	left:-37.5%;
}

.container .pull_ten {
	left:-41.667%;
}

.container .pull_eleven {
	left:-45.833%;
}

.container .pull_twelve {
	left:-50.0%;
}

.container .pull_thirteen {
	left:-54.167%;
}

.container .pull_fourteen {
	left:-58.333%;
}

.container .pull_fifteen {
	left:-62.5%;
}

.container .pull_sixteen {
	left:-66.667%;
}

.container .pull_seventeen {
	left:-70.833%;
}

.container .pull_eigthteen {
	left:-75.0%;
}

.container .pull_nineteen {
	left:-79.167%;
}

.container .pull_twenty {
	left:-83.333%;
}

.container .pull_twenty_one {
	left:-87.5%;
}

.container .pull_twenty_two {
	left:-91.667%;
}

.container .pull_twenty_three {
	left:-95.833%;
}

/*
@media only screen and (max-width: 1020px)
{
	.container
	{
	    width: 96%;
	    padding: 0 2%;
	}
}

@media only screen and (max-width: 960px)
{
	.container
	{
	    width: 96%;
	    padding: 0 2%;
	}
}
*/

@media only screen and (max-width: 620px)
{
	.container
	{
	    width: 100%;
	    padding: 0;
	}
	.container .col.one,
	.container .col.two,
	.container .col.three,
	.container .col.four,
	.container .col.five,
	.container .col.six,
	.container .col.seven,
	.container .col.eight,
	.container .col.nine,
	.container .col.ten,
	.container .col.eleven,
	.container .col.twelve,
	.container .col.thirteen,
	.container .col.fourteen,
	.container .col.fifteen,
	.container .col.sixteen,
	.container .col.seventeen,
	.container .col.eighteen,
	.container .col.nineteen,
	.container .col.twenty,
	.container .col.twenty_one,
	.container .col.twenty_two,
	.container .col.twenty_three,
	.container .col.twenty_four
	{
		width:93.667%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 2.167%;
		padding-right: 2.167%;
	}
	
/*
	.container .col.twenty_one,
	.container .col.twenty_two,
	.container .col.twenty_three,
	.container .col.twenty_four
	{
		width:100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0%;
		padding-right: 0%;
	}
	.container .prefix_one
	{
		padding-left: 0;
	}
	
	.container .suffix_one
	{
		padding-right: 0;
	}
*/

}